body{
  background-color: #eaeaea;
  background-image: url('../images/3hs-bg.jpg');
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}

h1, h2, h3, h4, p, a{
  color: #7a1614;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

h1{
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 38px;
}

h2{
  font-size: 20px;
  font-weight: normal;
}

p{
  font-size: 14px;
  line-height: 22px;
  clear: both;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: #7a1614 !important;
}

.container{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

header{

}

header h1{
  text-transform: uppercase;
  letter-spacing: 11px;
}

header h2{
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
}

.logo{
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: 30px;
}

.base-content{
  width: 100%;
}

.sign-up{
  width: 500px;
  height: auto;
  position:relative;
  margin: 30px auto 20px auto;
}

input{
  height: 40px !important;
  border: 0!important;
  padding: 10px!important;
  color: #7a1614!important;
  font-size: 14px!important;
  font-family: 'Libre Baskerville', serif!important;
  box-shadow: none !important; 
}

input[type="email"], input[type="text"]{
  height: 40px!important;
  width: 70%;
  float: left;
  margin-right: 10px;
  padding: 10px !important;
  /*box-sizing: content-box !important;*/
  background-color: #eceae4!important;
}

input[type="text"]{
  width: 100%;
}

input[type="email"]:focus{
  outline: 0;
}

input[type="submit"]{
  width: 26%;
  float: right;
  cursor: pointer;
  height: 40px!important;
  text-transform: uppercase;
  font-family: 'Verdana', serif !important;
  letter-spacing: 2px;
  background-color: #eceae4;
}

input[type="submit"]:hover{
  background-color: rgba(122, 22, 20, 0.8);
  color: #ffffff !important;
}

footer{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*.wp-email-capture{
  label{
    display: none;
  }
  .wp-email-capture-name{
    display: none;
  }
  br{
    display: none;
  }

  .wp-email-capture-error{
    width: 100%;
    background-color:rgba(122, 22, 20, 0.8);
    margin: 10px 0;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
  }
}*/

.wpcf7-form{
  span.wpcf7-not-valid-tip{
    width: 70%;
    float: left;
    margin-bottom: 10px;
  }

  div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng{
    background-color: rgba(122, 22, 20, 0.8);
    border: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    margin: 10px 0;
  }

  div.wpcf7-mail-sent-ok{
    color: #ffffff;
    font-size: 14px;
    margin: 10px 0;
    border: 0;
    padding: 10px;
    background-color: rgba(57, 143, 20, 0.8);
  }

  .wpcf7-not-valid-tip{
    display: none !important;
  }
}

@media screen and (max-width: 767px){
  h1{
    font-size: 18px;
    line-height: 25px;
  }

  header h2{
    font-size: 16px;
    margin-bottom: 30px;
  }
  br{
    display: none;
  }
  .container{
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
  }

  .logo{
    width: 47%;
  }

  .sign-up, input[type="email"], input[type="submit"]{
    width: 100%;
  }

  input[type="email"]{
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 10px 0 !important;
    text-indent: 10px;
  }

  input[type="submit"]{
    margin-bottom: 20px;
  }

}