/* line 1, ../scss/holding.scss */
body {
  background-color: #eaeaea;
  background-image: url("../images/3hs-bg.jpg");
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}

/* line 8, ../scss/holding.scss */
h1, h2, h3, h4, p, a {
  color: #7a1614;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

/* line 14, ../scss/holding.scss */
h1 {
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 38px;
}

/* line 22, ../scss/holding.scss */
h2 {
  font-size: 20px;
  font-weight: normal;
}

/* line 27, ../scss/holding.scss */
p {
  font-size: 14px;
  line-height: 22px;
  clear: both;
}

/* line 33, ../scss/holding.scss */
a {
  text-decoration: none;
}

/* line 37, ../scss/holding.scss */
a:hover {
  text-decoration: underline;
  color: #7a1614 !important;
}

/* line 42, ../scss/holding.scss */
.container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* line 54, ../scss/holding.scss */
header h1 {
  text-transform: uppercase;
  letter-spacing: 11px;
}

/* line 59, ../scss/holding.scss */
header h2 {
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
}

/* line 68, ../scss/holding.scss */
.logo {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: 30px;
}

/* line 77, ../scss/holding.scss */
.base-content {
  width: 100%;
}

/* line 81, ../scss/holding.scss */
.sign-up {
  width: 500px;
  height: auto;
  position: relative;
  margin: 30px auto 20px auto;
}

/* line 88, ../scss/holding.scss */
input {
  height: 40px !important;
  border: 0 !important;
  padding: 10px !important;
  color: #7a1614 !important;
  font-size: 14px !important;
  font-family: "Libre Baskerville", serif !important;
  box-shadow: none !important;
}

/* line 98, ../scss/holding.scss */
input[type="email"], input[type="text"] {
  height: 40px !important;
  width: 70%;
  float: left;
  margin-right: 10px;
  padding: 10px !important;
  /*box-sizing: content-box !important;*/
  background-color: #eceae4 !important;
}

/* line 108, ../scss/holding.scss */
input[type="text"] {
  width: 100%;
}

/* line 112, ../scss/holding.scss */
input[type="email"]:focus {
  outline: 0;
}

/* line 116, ../scss/holding.scss */
input[type="submit"] {
  width: 26%;
  float: right;
  cursor: pointer;
  height: 40px !important;
  text-transform: uppercase;
  font-family: 'Verdana', serif !important;
  letter-spacing: 2px;
  background-color: #eceae4;
}

/* line 127, ../scss/holding.scss */
input[type="submit"]:hover {
  background-color: rgba(122, 22, 20, 0.8);
  color: #ffffff !important;
}

/* line 132, ../scss/holding.scss */
footer {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*.wp-email-capture{
  label{
    display: none;
  }
  .wp-email-capture-name{
    display: none;
  }
  br{
    display: none;
  }

  .wp-email-capture-error{
    width: 100%;
    background-color:rgba(122, 22, 20, 0.8);
    margin: 10px 0;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
  }
}*/
/* line 160, ../scss/holding.scss */
.wpcf7-form span.wpcf7-not-valid-tip {
  width: 70%;
  float: left;
  margin-bottom: 10px;
}
/* line 166, ../scss/holding.scss */
.wpcf7-form div.wpcf7-validation-errors, .wpcf7-form div.wpcf7-mail-sent-ng {
  background-color: rgba(122, 22, 20, 0.8);
  border: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  margin: 10px 0;
}
/* line 175, ../scss/holding.scss */
.wpcf7-form div.wpcf7-mail-sent-ok {
  color: #ffffff;
  font-size: 14px;
  margin: 10px 0;
  border: 0;
  padding: 10px;
  background-color: rgba(57, 143, 20, 0.8);
}
/* line 184, ../scss/holding.scss */
.wpcf7-form .wpcf7-not-valid-tip {
  display: none !important;
}

@media screen and (max-width: 767px) {
  /* line 190, ../scss/holding.scss */
  h1 {
    font-size: 18px;
    line-height: 25px;
  }

  /* line 195, ../scss/holding.scss */
  header h2 {
    font-size: 16px;
    margin-bottom: 30px;
  }

  /* line 199, ../scss/holding.scss */
  br {
    display: none;
  }

  /* line 202, ../scss/holding.scss */
  .container {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
  }

  /* line 211, ../scss/holding.scss */
  .logo {
    width: 47%;
  }

  /* line 215, ../scss/holding.scss */
  .sign-up, input[type="email"], input[type="submit"] {
    width: 100%;
  }

  /* line 219, ../scss/holding.scss */
  input[type="email"] {
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 10px 0 !important;
    text-indent: 10px;
  }

  /* line 227, ../scss/holding.scss */
  input[type="submit"] {
    margin-bottom: 20px;
  }
}
